@import '../styles/colors';

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .main-content {
    flex: 1;
    background-color: $main-background;
    overflow-y: auto;
  }
}